{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true,
        "mocha": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "rules": {
        "no-var": "error",
        "indent": ["error", 4],
        "semi": ["error", "never"],
        "quotes": ["error", "single"]
    }
}